/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lacquer', cursive;
    font-family: 'Roboto', sans-serif;
}

body{
    color: aliceblue;
    background-color: #130400;
}

a {
   text-decoration: none; 
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* CABECALHO */
.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/breu-logo-mobile.png) center center/56px no-repeat;
    font-size: 0;
}

.btn-menu{
    width: 56px;
    height: 56px;
    float:right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #000, #440000);
}

/* MENU */
.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(10,10,10,0.8);
    top: 0;
    left: 0;
}

.btn-close{
    font-size: 1.5em;
    color: aliceblue;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}

.menu li{
    padding: 1.5%;
}

.menu li a{
    font-family: 'Lacquer', cursive;
    font-size: 2em;
    color: #666;
    padding: 1.5% 3%;
}

.menu li a:hover{
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 200;
    transition-duration: 0.3s;
    transition-property: all;
}

/* BANNER */
.banner{
    width: 100%;
    height: 10em;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/breu-banner1.png) no-repeat;
    background-size: 100%;
}

/* DESCRICAO */
.sobre{
    color: aliceblue;
    font-size: 0.9em;
    width: 100%;
    float: left;
    padding: 3% 4%;
    margin-top: 1%;
    background-color: rgba(68, 0, 0, 0.3);
    text-align: center;
}

/* CONTATO */
.contato{
    width: 100%;
    float: left;
    padding: 3% 4%;
    margin-top: 1%;
    background-color: #440000;
    text-align: center;
}

.contato form{
    margin-top: 3%
}

.contato h2{
    font-weight: 400;
}

.contato #nome{
    background-color: rgba(0, 0, 0, 0.2);
    border: #440000;
}

.contato #email{
    background-color: rgba(0, 0, 0, 0.2);
    border: #440000;
}

.contato #assunto{
    background-color: rgba(0, 0, 0, 0.2);
    border: #440000;
}

.contato #mensagem{
    background-color: rgba(0, 0, 0, 0.3);
    border: #440000;
}

/* FOOTER */
footer{
    margin-top: 10%;
}